.idea
.vscode
__pycache__

gen.py
docs/
out/

# latex files
*.tex
*.bib
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.fls
*.synctex.gz
*.fdb_latexmk